.wrapper {
  border: 1px solid none;
  width: 1240px;
  height: 500px;
  margin: 20px 0 0 20px;
}
.top-div {
  display: flex;
}
.namesort {
  color: gray;
  padding: 8px 4px;
  margin-left: 5px;
}
.allSelect {
  background-color: #4545ac;
  color: white;
  border-radius: 10px;
  width: 150px;
  padding: 8px 4px;
  display: flex;
  justify-content: center;
}
.mid-div {
  border: 1px solid #4545ac;
  width: 240px;
  height: 450px;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.mid-div::-webkit-scrollbar {
  width: 1px;
}
.mid-div::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #eaeaea;
}
.mid-div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #8b8be6;
  
}

.mid-div > div {
  margin: 10px 22px;
  display: inline;
  color: black;
  font-weight: bold;
  width: 150px;
}
.mid-div > div > a {
  text-decoration: none;
  color: rgba(56, 50, 50, 0.887);
}
.mid-div > div:hover {
  color: #4545ac;
}
.box-wrapper {
  display: flex;
}
.ad-box{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-x: scroll;
  overflow-y:hidden;
  width: 900px;
  height: 450px;
  margin:20px 0 0 30px;
  border-radius: 5px;
}
.ad-box::-webkit-scrollbar {
  height: 1px;
}
.ad-box::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #eaeaea;
}
.ad-box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #8b8be6;
}
.img-container{
  width: 300px;
  height: 112px;
  display: inline;
}
.img-container > img {
  width: 100%;
  height: 100%;
}
.img-container > a >img {
  width: 100%;
  height: 100%;
}
