.wrapper {
  border: 1px solid none;
  width: 1240px;
  height: 500px;
  margin: 20px 0 0 20px;
}
.top-div {
  display: flex;
}
.namesort {
  color: gray;
  padding: 8px 4px;
  margin-left: 5px;
}
.allSelect {
  background-color: #4545ac;
  color: white;
  border-radius: 10px;
  width: 150px;
  padding: 8px 4px;
  display: flex;
  justify-content: center;
}
.mid-div {
  border: 1px solid #4545ac;
  width: 1187px;
  height: 450px;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-x: scroll;
  border-radius: 12px;
}
.mid-div > div {
  margin: 10px 22px;
  display: inline;
  color: black;
  width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mid-div > div > a {
  text-decoration: none;
  color: gray;
}
.mid-div > div:hover {
  color: #4545ac;
}