.theErr{
    position: relative;
    top: 70px;
    left: 80px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 4px 12px;
    width: 730px;
    height: 350px;
    border-radius: 10px;
}
.theErr > hr{
    border: none;
    height:1px;
    background-color: rgb(69, 69, 172);
}
.err404{
    font-size: 40px;
    text-align: center;
}
.errTitle{
    font-size: 35px;
    margin: 30px 5px 30px 5px;
    text-align: center;
}
.errMsg{
    text-align: center;
}
.errMsg > p{
    margin: 8px 0px 8px 0px;
}
.backHomeBtn{
    position: relative;
    top: 15px;
    left: 280px;
    background-color: rgb(69, 69, 172);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 4px;
    margin-top: 10px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
}