.right-title > div {
  margin: 15px 0 20px 0;
}
.fix-input {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.right-list > hr {
  margin: 30px 0;
}

.label {
  margin: 10px 20px 10px 0;
}
.id,
.nick {
  margin-right: 68px;
}
.password {
  margin-right: 52px;
}
.fixid,
.fixnick,
.fixpw,
.refixpw {
  padding-left: 5px;
  margin: 10px 0;
  height: 30px;
  width: 250px;
}
.right-button {
  display: flex;
  justify-content: center;
}

.mypage-wrapper {
  display: flex;
}

.mypage-left {
  float: left;
  width: 20%;
}
.mypage-right {
  float: right;
  width: 80%;
}
.right-title > hr {
  width: 99%;
  margin: 5px 0;
}
.left-mypage,
.left-fix {
  border: none;
  padding: 15px 20px;
  width: 150px;
  background-color: transparent;
  border-bottom: 1px solid #eaeaeaea;
  font-weight: bold;
}
.left-mypage:hover,
.left-fix:hover {
  cursor: pointer;
}
.my-fix {
  font-weight: bold;
  font-size: 1.1rem;
}
.fixBtn {
  background-color: #eaeaea;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: bold;
}
.fixBtn:hover {
  cursor: pointer;
}
.d-none {
  display: none;
}
.colors {
  color: red;
  font-size: 0.8rem;
  margin-left: 130px;
}
