.wrap{
    margin: 0px;
    padding: 0px;
}
.content{
    padding: 15px;
    width: 100%;
    height: 100%;
  
}
.title_head h2{
    position: relative;
    bottom: 20px;
}
.warning{
    font-size: 15px;
    display: flex;
}
.modify_btn{
    float: right;
}
#delete{
    margin: 10px;
    border: none;
    width: 60px;
    height: 60px;
    background-color: crimson;
}
#modify{
    margin: 10px;
    border: none;
    width: 60px;
    height: 60px;
    background-color: paleturquoise;
}
