.loginedbox {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100px;
  padding: 15px;
  border: 1px solid #4545ac;
  margin: 20px 0;
  border-radius: 10px;
}
.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoutBtn {
  color: white;
  height: 40px;
  border: none;
  margin: 7px 0;
  border-radius: 15px;
  background-color: #4545ac;
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
}
.create {
  color: white !important;
  height: 40px;
  border: none;
  margin: 7px 0;
  border-radius: 15px;
  background-color: #4545ac;
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  text-decoration: none;
  text-align: center;
}

.logoutBtn:hover,
.create:hover {
  cursor: pointer;
  background-color: #36368a;
}
.logoutBtn:active {
  box-shadow: 0px 0px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}
