.box1 {
  position: absolute;
  left: 30px;
}
.box2 {
  position: absolute;
  left: 430px;
}
.box3 {
  position: absolute;
  top: 320px; 
  left: 30px;
}
.box4 {
  position: absolute;
  top: 320px;
  left: 430px;
}
