.mainBoardsBox {
  width: 430px;
  height: 250px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 30px;
}

.boxPost {
  border: 0.5px solid black;
  margin-bottom: 5px;
  font-size: 20px;
}
.boardTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
