.mainBoardsBox {
  width: 380px;
  height: 280px;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 4px 12px;
  display: inline-block;
  /* margin-right: 20px; */
  margin-bottom: 30px;
  
}

.boxPost {
  margin-bottom: 5px;
  font-size: 15px;
  text-align: center;

}
.boardTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  background-color: rgb(69, 69, 172);
  color: white;
  width: 380px;
}
