.box1 {
  position: absolute;
  top: 150px;
  left: 100px;
}
.box2 {
  position: absolute;
  top: 150px;
  left: 600px;
}
.box3 {
  position: absolute;
  top: 500px;
  left: 100px;
}
.box4 {
  position: absolute;
  top: 500px;
  left: 600px;
}
