* {
  margin: 0;
}

.circle {
  position: absolute;

  top: 0;
  /* // 초기 위치값을 설정해줍니다. */

  left: 0;
  /* // 초기 위치값을 설정해줍니다. */

  width: 25px;
  /* //원 가로사이즈 */

  height: 25px;
  /* //원 세로사이즈 */

  border-radius: 50%;
  /* // 원의 형태설정 */

  /* background-color: #9bf50b; */
  /* //원 컬러설정 */

  transform: translate(-49%, -50%);
  /* // 원을 정가운데로 맞추기위해서 축을-50%이동해줍니다. */
}
