.wrap{
    margin: 0px;
    padding: 0px;
}
.Search{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo{
    display: inline-block;
    position: relative;
    right: 120px;
    top: 10px;
}
.logo img{
    width: 350px;
    height: auto;
}
.searchengine{
    position: relative;
    right: 125px;
    top: 25px;
    height: 100%;
    text-align: right;
}
.searchengine input{
    width: 550px;
    height: 35px;
    text-align: left;
    padding-left: 20px;
    border: 5px solid rgb(69, 69, 172);
}
.searchengine button{
    position: relative;
    right: 10px;
    bottom: 43px;
    background-color: rgb(69, 69, 172);
    color: white;
    border-radius: 10px;
    width: 50px;
    padding: 8px 4px;
    border: none;
    cursor: pointer;
}
.searchengine button:hover{
    background-color: wheat;
    color: black;
}
.logo2{
    position: relative;
    right: 100px;
}
.logo2 img{
    width: 350px;
    height: auto;
}