.wrap{
    position: relative;
    margin: 0px;
    padding: 0px;
}
.Search{
    width: 100%;
    height: 100%;
    display: flex;
}
.logo{
    width: 30%;
    height: 100%;
    text-align: center;
    position: relative;
    right: 20px;
}
.logo img{
    width: 400px;
    height: auto;
}
.searchengine{
    width: 70%;
    height: 100%;
    text-align: right;
    position: absolute;
    top: 50px;
    left: 100px;
}
.searchengine input{
    width: 450px;
    height: 35px;
    text-align: left;
    padding-left: 20px;
    border: 5px solid rgb(69, 69, 172);
}
.searchengine button{
    position: relative;
    right: 80px;
    background-color: rgb(69, 69, 172);
    color: white;
    border-radius: 10px;
    width: 50px;
    padding: 8px 4px;
    border: none;
    cursor: pointer;
}
.searchengine button:hover{
    background-color: wheat;
    color: black;
}