.wrap{
    position: relative;
    margin: 0px;
    padding: 0px;
}
.Search{
    width: 100%;
    height: 100%;
    display: flex;
}
.logo{
    width: 30%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50px;
}
.searchengine{
    width: 70%;
    height: 100%;
    text-align: right;
    position: absolute;
    top: 30px;
    left: 200px;
}
.searchengine input{
    width: 450px;
    height: 50px;
    border-radius: 45px;
    text-align: left;
    border: 1px solid gray;
    padding-left: 10px;
}
.searchengine button{
    position: relative;
    right: 80px;
    background-color: rgb(69, 69, 172);
    color: white;
    border-radius: 10px;
    width: 50px;
    padding: 8px 4px;
    border: none;
    cursor: pointer;
}
.searchengine button:hover{
    background-color: wheat;
    color: black;
}