.wrap {
    margin: 0px;
    padding: 0px;
}

.content {
    width: 100%;
    height: 100%;
}

.get_content img {
    width: 70%;
    height: 70%;
}

.get_content input {
    visibility: hidden;
}

.headBar {
    display: flex;
    align-items: center;
    position: relative;
    /* border-bottom: 2px solid #4545AC; */
}

.fixButton {
    position: absolute;
    right: 0;

}

.t {
    margin-top: 6px;
    margin-bottom: 6px;
}

.headInfo {
    border-top: 2px solid #4545AC;
    border-bottom: 1px solid #4545AC;
    position: relative;
}

.contentTitle {
    height: 75px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

a:visited {
    color: black;
}

.info {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
}

.comment {
    border-top: 2px solid #4545AC;
    padding: 6px;
    padding-left: 0;
    padding-right: 0;
}

hr {
    width: 100%;
}

.subCommentFrame {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}

.subcommentframe {
    width: 97%;
    background-color: #FAFAFA;
    padding: 10px;
    padding-top: 5px;
    margin-top: 10px;
}
.LikeViewFrame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
}
.LikeView {
    width: 350px;
    height: 170px;
    border-radius: 10px;
    border: 1px solid #ededed;
}