.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 100px;
}
.content-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  min-width: 70%;
}

.content-left > div {
  width: 300px;
  height: 300px;
  margin: 20px;
}
.content-right {
  width: 320px;
  position: sticky;
  top: 100px;
  margin: 0 0 0 25px;
}
.loginbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
  padding: 10px;
  border: 1px solid blue;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.formbox {
  display: flex;
  flex-direction: row;
}
.hitgall {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 15px;
  border: 1px solid brown;
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.First {
  border: 1px solid coral;
}
.Second {
  border: 1px solid gray;
}
.Third {
  border: 1px solid green;
}
.Forth {
  border: 1px solid yellow;
}
.Fifth {
  border: 1px solid red;
}
.idInput,
.pwInput {
  height: 30px;
  border: none;
  background-color: #eeeeee;
  margin: 6px 0;
  padding: 0 0 0 10px;
  border-radius: 10px;
  border: none;
  width: 150px;
  overflow-x: auto;
}
.loginBtn {
  color: white;
  width: 150px;
  height: 70px;
  border: none;
  margin: 7px 0;
  border-radius: 15px;
  background-color: #4545ac;
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
}
.signupBtn {
  color: white;
  height: 50px;
  border: none;
  margin: 7px 0;
  border-radius: 15px;
  background-color: #4545ac;
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
}
.loginBtn:active {
  box-shadow: 0px 0px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}
.signupBtn:active {
  box-shadow: 0px 0px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}
.loginBtn:hover {
  cursor: pointer;
  background-color: #36368a;
}
.signupBtn:hover {
  cursor: pointer;
  background-color: #36368a;
}
.btnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.refresh {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.refreshicon {
  box-shadow: 0px 0px 0 rgb(0, 0, 0, 0.5);
}
.refreshicon:active {
  box-shadow: 0px 0px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}
.refresh > button {
  background-color: transparent;
  border: none;
}
.refresh > button:hover {
  cursor: pointer;
}

.HitList {
  margin: 8px 0;
}
.HitList > a {
  /* margin: 15px 22px; */
  display: inline;
  color: black;
  text-decoration: none;
}

.HitList > a:hover {
  color: rgb(69, 69, 172);
}

.form-upbox {
  display: flex;
}
