.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}
body::-webkit-scrollbar-corner{
  border-radius: 15px;
}
body::-webkit-scrollbar-thumb{
  background-color: #4545AC;
  height: 10px;
  
}
.searchandLogo {
  background-color: transparent;
  width: 1100px;
  height: 100px;
  margin-bottom: 30px;
}

.dividebar {
  width: 100%;
  height: 50px;
  background-color: #4545AC;
  margin-bottom: 10px;
}

.container {
  width: 1240px;
}

.main {
  width: 70%;
  background-color: transparent;
}

.sticky {
  position: sticky;
  top: 0px;
  padding-top: 10px;
  width: 30%;
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
}
.Footer {
  margin-top: 30px;
  width: 100vw;
  height: 300px;
  background-color: aliceblue;
}
.recentGall{
  margin: 0px 10px 0px 80px;
  display: inline-block;
}

.theRecentGallSpan{
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-left: 15px;
  /* width: 84px; */
  text-align: center;
}
.theRecentGallSpan:hover{
  text-decoration: underline;
}