.wrap{
    margin: 0;
    padding: 0;
}
.Search{
    width: 70%;
    height: 100px;
    position: fixed;
    display: flex;
}
.logo{
    width: 40%;
    position: relative;
    text-align: center;
}
.icon{
    height: 50%;
    width: 100%;
}
.gaesipan{
    height: 50%;
    width: 100%;
    
    
}
.Searchengine{
    width: 60%;
    position: relative;
    
}
.Searchinput input{
    width: 500px;
    height: 40px;
    position: relative;
    left: 300px;
    top: 20px;
    border-radius: 50px;
    border: 0.5px solid grey;
}
.Searchbtn{
    position: relative;
    left: 700px;
    top: -15px;
}